# ignore all hiddens
.*

# but don't ignore the .gitignore
!.gitignore

# ignore all backup files
*~
# ignore node modules
node_modules/

# ignore npm-debug.log
npm-debug.log

#ignore build tgz
twitter-backup-app-*.*.*.tgz






