.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

#getTimelineBtn, #signOut, #getFavoritesBtn, #getFavoritePostsBtn{
    display: none;
}


