*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results .row {
    margin-top: 15px;
    margin-bottom: 15px;
}

#getTimelineBtn, #signOut, #getFavoritesBtn, #getFavoritePostsBtn{
    display: none;
}


.form-control, #addNewUser {
    margin: 10px;
}

.twitter-btn-group{
    margin: 10px;
}

