<section class="col-xs-6">
    <input type="text" ng-model="searchTerm" class="form-control" id="searchBox" placeholder="Enter Serch pattern here" ng-show="connectedTwitter">
</section>
<section class="col-xs-12" id="results">
    <section class="row" ng-repeat="tweet in tweets | filter:searchTerm">
        <section class="col-xs-2 col-sm-1">
            <img ng-src="{{tweet.user.profile_image_url}}" class="img-circle">
        </section>
        <section class="col-xs-12 col-sm-12">
            <section class="col-xs-6">
                <small>{{tweet.user.name}}</small>
            <br> <span ng-bind-html="tweet.text"></span>
                <a href="{{tweet.entities.urls[0].url}}">{{tweet.entities.urls[0].url}}</a>
            </section>
            <section class="col-xs-8 col-sm-6 twitter-btn-group">
                <button class="btn btn-success btn-sm" ng-click="addToFavoriteTweets()" >Like Post</button>
                <button class="btn btn-info btn-sm" ng-click="retweetPost()">Retweet</button>
            </section>
        </section>
    </section>
    <section ng-show="rateLimitError">
        Rate limit reached you are making too many requests
    </section>
    <section>
        <br>
        <input type="button" class="btn btn-info" id="load-more" ng-click="refreshTimeline(tweets[tweets.length - 1].id)" ng-show="connectedTwitter" value="Load More">
    </section>
</section>